project:
  type: website

website:
  page-footer:
    left: "Φιλοξενείται μέσω του {{< fa brands github >}} GitHub Pages <br> {{< fa code>}} [Κώδικας ιστοσελίδας](https://github.com/stesiam/stesiam.github.io)"
    center: "&#169; stesiam, 2022-2025"
    right: "Χρησιμοποιήθηκε η γλώσσα προγραμματισμού {{< fa brands r-project>}},<br>το λογισμικό [Quarto](https://quarto.org/), το 
            πακέτο [babelquarto](https://github.com/ropensci-review-tools/babelquarto),<br> αρκετή αγάπη και υπομονή"
  navbar:
    tools:
      - icon: github
        href: https://github.com/stesiam
        aria-label: Personal (stesiam's) GitHub Page
      - icon: rss
        href: posts/index.xml
        aria-label: Website RSS
    right:
      - text: "Αρχική"
        aria-label: "Homepage"
        href: index.qmd
      - text: "Άρθρα"
        aria-label: "Συγκεντρωτική λίστα των άρθρων μου στα ελληνικά"
        href: posts/index.qmd
      - text: "Εφαρμογές"
        href: web-apps/index.qmd
      - text: "Λογισμικό"
        href: software/index.qmd
      - text: "Υλικό"
        href: material/index.qmd
      - text: "Γραφήματα"
        href: gallery/index.qmd
      - text: "CV"
        href: https://github.com/stesiam/cvDSen


format:
  html:
    theme: 
      light: [litera, assets/styles/stesiam-light.scss]
      dark: [litera, assets/styles/stesiam-dark.scss]
    css: styles.css
    highlight-style: 
      light: assets/styles/a11y-light.theme
      dark: assets/styles/a11y-dark.theme
    toc: true
    html-math-method: katex
    comments:
      giscus:
        repo: stesiam/stesiam.github.io
        repo-id: R_kgDOHuiNDg
        category: Comments
        category-id: DIC_kwDOHuiNDs4CQeAf
        mapping: title
        reactions-enabled: true
        input-position: top
        theme:
          light: light
          dark: dark
        language: gr
