project:
  type: website
  
highlight-style: a11y

website:
  site-url: "https://stesiam.com/"
  page-footer:
    left: "<div><p>The website is being hosted on <i class='bi bi-github'></i> GitHub Pages</p></div> <div><p>Access my site's <i class='bi bi-code-slash'></i> [ Source Code](https://github.com/stesiam/stesiam.github.io)</p></div>"
    center: "<div><p> &#169; stesiam, 2022-2026</p></div>"
    right: "<div><p> Made with <a href='https://quarto.org/'>Quarto</a>, <a href='https://github.com/ropensci-review-tools/babelquarto'>babelquarto</a>, <br> much love and patience</p></div>"
  navbar:
    tools:
      - icon: github
        href: https://github.com/stesiam
        aria-label: Personal (stesiam's) GitHub Page
      - icon: rss
        href: posts/index.xml
        aria-label: Website RSS
    right:
      - text: "Home"
        aria-label: "Homepage"
        href: index.qmd
      - text: "About me"
        href: about-me/index.qmd
      - text: "Posts"
        aria-label: "List of Posts"
        href: posts/index.qmd
      - text: "Web Projects"
        href: web-projects/index.qmd
      - text: "Software"
        href: software/index.qmd
      - text: "Material"
        href: material/index.qmd
      - text: "Gallery"
        href: gallery/index.qmd
      - text: "CV"
        href: https://github.com/stesiam/cvDSen

format:
  html:
    theme: 
      light: [assets/li.scss]
      dark: [assets/da.scss]
    css: assets/styles/styles.css
    toc: true
    html-math-method: katex
    clean-urls: false
    comments:
      giscus:
        repo: stesiam/stesiam.github.io
        repo-id: R_kgDOHuiNDg
        category: Comments
        category-id: DIC_kwDOHuiNDs4CQeAf
        mapping: title
        reactions-enabled: true
        input-position: top
        theme:
          light: light
          dark: dark
        language: en
