project:
  type: website
  output-dir: docs
  resources:
  - CNAME
  - assets/
  
highlight-style: a11y


website:
  title: "stesiam"
  favicon: assets/images/favicon.ico
  site-url: "https://stesiam.com/"
  repo-url: "https://github.com/stesiam/stesiam.github.io"
  open-graph: true
  search: 
    location: navbar
    type: overlay
    copy-button: true
  navbar: true

        
format:
  html:
    theme: 
      light: [assets/li.scss]
      dark: [assets/da.scss]
    css: assets/styles/styles.css
    respect-user-color-scheme: true
    toc: true
    html-math-method: katex
    comments:
      giscus:
        repo: stesiam/stesiam.github.io
        repo-id: R_kgDOHuiNDg
        category: Comments
        category-id: DIC_kwDOHuiNDs4CQeAf
        mapping: title
        reactions-enabled: true
        input-position: top
        theme:
          light: light
          dark: dark
        language: en



babelquarto:
  languagelinks: navbar
  languagecodes:
  - name: el
    text: "Greek"
  - name: en
    text: "English"
  mainlanguage: 'en'
  languages: ['el']
lang: en
