project:
  type: website

website:
  page-footer:
    left: "<div><p>The website is being hosted on {{< fa brands github >}} GitHub Pages</p></div> <div><p>Access my site's {{< fa code-branch >}} [ Source Code](https://github.com/stesiam/stesiam.github.io)</p></div>"
    center: "<div><p> &#169; stesiam, 2022-2025</p></div>"
    right: "<div><p> Made with {{< fa brands r-project>}}, love, much patience,</p></div> <div><p><a href='https://quarto.org/'>Quarto</a> and <a href='https://github.com/ropensci-review-tools/babelquarto'>babelquarto</a> </p></div>"
  navbar:
    tools:
      - icon: github
        href: https://github.com/stesiam
        aria-label: Personal (stesiam's) GitHub Page
      - icon: rss
        href: posts/index.xml
        aria-label: Website RSS
    right:
      - text: "Home"
        aria-label: "Homepage"
        href: index.qmd
      - text: "Posts"
        aria-label: "List of Posts"
        href: posts/index.qmd
      - text: "Web Projects"
        href: web-apps/index.qmd
      - text: "Software"
        href: software/index.qmd
      - text: "Material"
        href: material/index.qmd
      - text: "Gallery"
        href: gallery/index.qmd
      - text: "CV"
        href: https://github.com/stesiam/cvDSen

format:
  html:
    theme: 
      light: [litera, assets/styles/stesiam-light.scss]
      dark: [litera, assets/styles/stesiam-dark.scss]
    css: styles.css
    highlight-style: 
      light: assets/styles/a11y-light.theme
      dark: assets/styles/a11y-dark.theme
    toc: true
    html-math-method: katex
    comments:
      giscus:
        repo: stesiam/stesiam.github.io
        repo-id: R_kgDOHuiNDg
        category: Comments
        category-id: DIC_kwDOHuiNDs4CQeAf
        mapping: title
        reactions-enabled: true
        input-position: top
        theme:
          light: light
          dark: dark
        language: en
