/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$navbar-bg: #181818;
$navbar-dark-color: white;
$dropdown-link-hover-bg: var(--body-bg);
// Code blocks
$code-block-bg-alpha: -.8;