#quarto-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
  font-family: "Gentium Plus";
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('assets/images/stes_background.webp');
  background-size: cover;
}

#quarto-content >*{
  
}

.line_sep{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quarto-about-jolla{
  margin: 0 auto;
}

.home_wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  background-color: rgba(0,0,0,0.8);
  border-radius: 2em;
  padding: 1em;
}

.title_prof_wrapper h1{
  text-align: center;
}

.button_wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	padding: 0em 2em;
}

.links_wrapper{
  flex:1;
}

.bio_wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 85%;
}

.bio_wrapper h3 {
	text-align: center;
	color: white !important;
	margin-bottom: 0.2em;
	margin-top: 0em;
}

.bio_wrapper p {
	text-align: center;
	color: white !important;
	padding: 0.5em 17%;
	margin-bottom: 0.5em;
}

.img_prof_wrapper img{
	width: 11.5em;
	height: 11.5em;
	border-radius: 50%;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	border: 2px solid white!important;
	padding: 2px;
}

hr .conditional-row{
  display: none;
  margin: 0em;
}

hr {
	color: white;
	width: 5rem !important;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@media (max-width: 768px){
  .home_wrapper{
  display: flex;
  flex-direction: column;
}

.bio_wrapper p {
	text-align: center;
	color: white !important;
}
}

.name_prof_wrapper {
	font-weight: bold;
	font-size: 1.9em;
	text-align: center;
	margin-bottom: 0em;
	color: white !important;
}

.title_prof_wrapper {
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: white !important;
	font-style: italic;
}

@media (min-width: 1440px) {
  .button_wrapper{
    padding: 1em 30%;
  }
  
  .button_wrapper p{
    padding: 0.5em 25%;
  }
  
  .home_wrapper{
    padding: 3em 1em;
    font-size: 1.2em;
  }

}