#quarto-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
  font-family: Alegreya;
}

.quarto-about-jolla{
  margin: 0 auto;
}

.home_wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}

.title_prof_wrapper h1{
  text-align: center;
}

.button_wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	padding: 0em 2em;
}

.links_wrapper{
  flex:1;
}

.bio_wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.bio_wrapper p {
	font-size: 1em;
	text-align: center;
}

.img_prof_wrapper img{
	width: 13em;
	height: 13em;
	border-radius: 50%;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	display: flex;
	justify-content: center;
	border: 2px solid;
	padding: 2px;
}

hr .conditional-row{
  display: none;
  margin: 0em;
}


@media (max-width: 768px){
  .home_wrapper{
  display: flex;
  flex-direction: column;
}

.img_prof_wrapper img{
	width: 10em;
	height: 10em;
}

.bio_wrapper p {
	font-size: 0.8em;
	text-align: center;
}

}