/* css styles */
 
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*:not(#TOC) {
  font-family: 'Alegreya', serif;
}



div.quarto-about-jolla{
  margin-top: 0px;
}


hr.about-sep{
  margin-top: -20px;
}


.quarto-about-jolla{
  max-width: 400px;
  margin: auto;
  margin-top: -38px;
}



#quarto-document-content{
  margin-top: -8px;
  font-size: 16px;
}

.quarto-title-banner {
  padding-top: 2.5em;
  padding-bottom: 0em;
}

a{
  color: #1871DC;
}

/*
#quarto-content{
  height: 480px;
}
*/

.about-links{
  justify-content: center;
}

div#quarto-content.quarto-container.page-columns.page-rows-contents.page-layout-article.page-navbar{
  height: fit-content;
}

.footer{
  display: none;
}

.card-shiny{
  width: 100px;
}


/* cards' styles */

.card{
   transition: 0.5s ease-out;
}

.card:hover{
  transform: translateY(10px);
}

.card-title{
  text-align: center;
}