/* css styles */


body:not(#TOC) {
    font-family: "Gentium Plus", "Noto Serif", "Georgia", serif;
}

#quarto-header{
  font-weight: bold;
}

.nav-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar{
  border: 0px;
}

.navbar-nav > .nav-item{
  text-transform: lowercase;
}


div.quarto-about-jolla{
  margin-top: 0px;
}


hr.about-sep{
  margin-top: -20px;
}


.quarto-about-jolla{
  max-width: 430px;
  margin: auto;
  margin-top: -38px;
}


.quarto-title-banner {
  padding-top: 2.5em;
  padding-bottom: 0em;
}


.about-links{
  justify-content: center;
}

div#quarto-content.quarto-container.page-columns.page-rows-contents.page-layout-article.page-navbar{
  height: fit-content;
}


.card-shiny{
  width: 100px;
}


/* cards' styles */

.card:hover{
  transform: translateY(10px);
}

.card-title{
  text-align: center;
}

.cards-wrapper{
	gap: 20px;
	height: min-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
   transition: 0.5s ease-out;
   min-height: 200px;
   width: 350px;
}


.sh-card-footer{
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  column-gap: 10px;
}


#sa1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("assets/images/ageing_hands.jpg");
  background-position: center;
  color: white;
}

#sa2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("assets/images/question-mark.jpg");
  background-position: top;
  color: white;
}

#sa3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("assets/images/s6.png");
  background-position: center;
  color: white;
}

#sa4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("assets/images/houses-of-parliament.jpg");
  background-position: center;
  color: white;
}

#sa5{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("assets/images/euro.jpg");
  background-position: center;
  color: white;
}



/* Style Material tables*/

.material-tables > table th:first-of-type {
    width: 40%;
}
.material-tables > table th:nth-of-type(2) {
    width: 15%;
}
.material-tables > table th:nth-of-type(3) {
    width: 15%;
}
.material-tables > table th:nth-of-type(4) {
    width: 10%;
}
.material-tables > table th:nth-of-type(5) {
    width: 20%;
}


/* Footer */

.nav-footer-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px){
.nav-footer-center {
	margin-top: 0em !important;
	order: 10;
	padding: 0em;
}
}

#language-link-el::before{
  content: '';
  background-image: url('assets/images/gr.webp');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;  
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 2em;
}

#language-link-en::before{
  content: '';
  background-image: url('assets/images/uk.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;  
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 2em;
}

@media screen and (min-width: 992px) {
  
  div.quarto-about-jolla .about-link i{
    font-size: 2em;
  }

}


/* Gallery */
@media (min-width: 768px) {
.g-col-md-4 p, .g-col-md-6 p{
  overflow: hidden;
}

.img-fluid{
  transition: 1s ease;
}

.img-fluid:hover{
  transform: scale(1.05);
}
}


/* Media small screen - footer */

@media (max-width: 600px) {
  .nav-footer{
    padding-top: 1em;
  }
}


h1{
  font-size: 2.1em;
}

h2{
  font-size: 1.7em;
}

h3{
  font-size: 1.25em;
}

h4{
  font-size: 1.1em;
}

h5{
  font-size: 1em;
}

p{
  font-size: 0.88em;
}

.listing-description{
  font-size: 0.95em;
}

hr{
  margin: 1em 30%;
}


footer{
  font-size: 0.975em;
}

.button_wrapper_gallery {
	padding: 0em 0em 1em 0em;
}

h3.card-title {
	padding: 0em 0em;
	margin: 0.2em 0em 0.6em 0em;
}

.card-image{
  margin-bottom: 1em;
}

#quarto-appendix{
  font-size: 0.88em;
}

ul, ol{
  font-size: 0.88em;
}

h3 .no-external{
  font-weight: bold;
}

.navbar-title{
  font-weight: 800;
}

h4.card-title{
  margin-top: 0em;
}

.Reactable{
  font-size: medium;
}