/*-- scss:defaults --*/
$font-family-serif: "Lato";
$font-family-sans-serif: "Lato";
$font-family-monospace: "Lato";
$bs-body-font-family: "Lato";
$web-font-path: "No";
$body-bg: #181818;
$body-color: white;
$link-color: #b9d4da;
$black:    #000 !default;
$bs-btn-color: white;
$bs-btn-border-color: white;
$navbar-bg: #181818;
$navbar-dark-color: white;
$dropdown-link-hover-bg: var(--body-bg);
$code-block-bg-alpha: -.8;
$bs-btn-hover-bg: red;
$bs-btn-padding-x: 0.9rem;
$bs-btn-padding-y: 0.4rem;
$bs-btn-font-size: 0.75rem;


div.quarto-post .listing-categories .listing-category {
	background-color: slategray;
	color: white !important;
	border: none !important;
	font-style: italic;
}

/*-- scss:rules --*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/lato-v24-latin-100.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-100.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-100.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('assets/fonts/lato-v24-latin-100italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-100italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-100italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/lato-v24-latin-300.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-300.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-300.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/lato-v24-latin-300italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-300italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-300italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/lato-v24-latin-regular.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-regular.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/lato-v24-latin-italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/lato-v24-latin-700.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-700.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-700.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/lato-v24-latin-700italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-700italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-700italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/lato-v24-latin-900.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-900.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-900.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('assets/fonts/lato-v24-latin-900italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-900italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-900italic.ttf') format('truetype')
}


.white_bg{
  filter: invert(1);
}


#languages-button {
	color: white;
	background-color: transparent !important;
	border-color: transparent !important;
}


/* Set Animation Line Only On Big Screens */

@media (min-width: 900px){
 nav a .menu-text {
  position: relative;
  text-decoration: none;
}


nav a .menu-text::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: slategray;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav a .menu-text:hover::before {
  transform: scaleX(1);
} 
}


.btn-outline-primary {
  color: white; /* Custom text color (orange) */
  border-color: white; /* Custom border color (orange) */
  margin-bottom: 0em;
  background-color: black;
}

.btn-outline-primary:hover {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}

.btn-outline-primary:active {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}

.btn-outline-apps {
  color: white; /* Custom text color (orange) */
  border-color: black; /* Custom border color (orange) */
  background-color: black;
}

.btn-outline-apps:hover {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}

.btn-outline-apps:active {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}


/* Bibltex citation */

.sourceCode.bibtex{
 color: white; 
}


/* Material */
.card-body .card-image img{
  filter: sepia(50%) hue-rotate(30deg) saturate(500%) invert(0.9);
}

  
.highcharts-subtitle{
    fill: white!important;
  }
  
.highcharts-title{
    fill: white!important;
  }
  
/* Label text color */  
g.highcharts-legend-item > text:nth-child(1){
  fill: white!important;  
}  
 
/* Highcharts plot text  */

g.highcharts-label text:nth-child(1){
  fill: white!important;
  
  tspan:nth-child(1){
    stroke: black!important;
  }
}

.highcharts-point path{
  stroke: transparent;
}


/* Nav footer */

.nav-footer{
  background-color: black;
  color: white;
  
  a{
  color: #FFA500;  /* Soft Orange link color */
  text-decoration: none;
  transition: color 0.3s ease;
  }
  
  a:hover {
  color: #FFB733;  /* Lighter Soft Orange on hover */
  text-decoration: underline;
}

}

