/*-- scss:defaults --*/

$font-family-serif: "Gentium Plus";
$font-family-sans-serif: "Gentium Plus";
$font-family-monospace: "Gentium Plus";
$bs-body-font-family: "Gentium Plus";
$web-font-path: "No";
$bs-btn-outline-color: black;
$bs-btn--outline-border-color: black;
$link-color: rgb(102, 20, 16);
$body-bg: white;
$body-color: black;
$navbar-bg: white;
$bs-btn-padding-x: 1.1rem;
$bs-btn-padding-y: 0.7rem;
$bs-btn-font-size: 0.75rem;

/*-- scss:rules --*/


@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/gentium-plus-v2-latin-regular.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/gentium-plus-v2-latin-italic.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/gentium-plus-v2-latin-700.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/gentium-plus-v2-latin-700italic.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-latin-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/gentium-plus-v2-greek-regular.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-greek-regular.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/gentium-plus-v2-greek-italic.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-greek-italic.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/gentium-plus-v2-greek-700.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-greek-700.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/gentium-plus-v2-greek-700italic.woff2') format('woff2'),
       url('assets/fonts/gentium-plus-v2-greek-700italic.woff') format('woff');
}


// title block

.quarto-title-banner{
  background: $body-bg;
  color: $body-color;
  .quarto-title{
    padding: 2em;
    text-align: center;
  }
}

@media (min-width: 900px){
 nav a .menu-text {
  position: relative;
  text-decoration: none;
}


nav a .menu-text::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav a .menu-text:hover::before {
  transform: scaleX(1);
} 
}

.btn-outline-primary {
  color: black; 
  border-color: black; 
  margin-bottom: 0em;
  background-color: white;
  padding: $bs-btn-padding-x, $bs-btn-padding-y;
  border-color: slategray;
}

.btn-outline-primary:hover {
  color: #fff; 
  background-color: #ff5722 !important; 
  border-color: #ff5722 !important; 
}

.btn-outline-primary:active {
  color: #fff;
  background-color: #ff5722 !important; 
  border-color: #ff5722 !important;
}

.btn-outline-apps {
  color: white;
  border-color: black;
  background-color: black;
}

.btn-outline-apps:hover {
  color: #fff;
  background-color: teal !important;
  border-color: teal !important;
}

.btn-outline-apps:active {
  color: #fff; 
  background-color: teal !important;
  border-color: teal !important;
}


#languages-button {
	background-color: transparent;
	color: black;
	border-color: transparent;
}


/* Material */

.card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
      align-items: stretch;
    }

    .modern-card {
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
      border: 1px solid #e0e0e0;
    }

  .modern-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
  }

  .modern-card svg {
    color: #f57c00;
  }

  .modern-card h3 {
    color: #333;
  }

  .modern-card p {
    color: #666;
  }



  .card-buttons a {
    background-color: #007bff;
    color: #fff;
  }

  .card-buttons a:hover {
    background-color: #0056b3;
  }

  .card-buttons .github-btn {
    background-color: #24292e;
  }

  .card-buttons .github-btn:hover {
    background-color: #1b1f23;
  }

.post-content p{
	color: #333;

}

.post-content h2{
	color: #555;
}

.post-card {
  background: #f5f6f8;
}

.meta, .meta i{
  color: #515050;
}

/* About - Studies */

.study a {
  color: #0d6efd;
}

.study .info {
  color: #555;
}

.study .info i {
  color: #0d6efd;
}

.study h2 {
  color: #0d6efd;
}

.study .icon {
  background: #0d6efd;
  color: #fff;
}

.study {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #0d6efd;
}

.inverted_color{
  filter: invert(0);
}

.certificate-card {
  background: #eee;
}