/*-- scss:defaults --*/

$font-family-sans-serif: "Alegreya";
$font-family-monospace: "Alegreya";
$bs-body-font-family: "Alegreya";
$web-font-path: "No";
$bs-btn-outline-color: black;
$bs-btn--outline-border-color: black;

/*-- scss:rules --*/


@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/alegreya-v35-latin-regular.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-regular.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/alegreya-v35-latin-italic.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-italic.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/alegreya-v35-latin-500.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-500.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url('assets/fonts/alegreya-v35-latin-500italic.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-500italic.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/alegreya-v35-latin-600.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-600.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/alegreya-v35-latin-600italic.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-600italic.woff') format('woff')
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/alegreya-v35-latin-700.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-700.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/alegreya-v35-latin-700italic.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-700italic.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/alegreya-v35-latin-800.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-800.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 800;
  src: url('assets/fonts/alegreya-v35-latin-800italic.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-800italic.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/alegreya-v35-latin-900.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-900.woff') format('woff')
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: url('assets/fonts/alegreya-v35-latin-900italic.woff2') format('woff2'),
       url('assets/fonts/alegreya-v35-latin-900italic.woff') format('woff')
}

// Base document colors
$body-bg: #E8E8E8;
$body-color: #4682B4;
$navbar-bg: #E8E8E8;


#languages-button {
	color: black;
	background-color: transparent !important;
	border-color: transparent !important;
}

/* Set Animation Line Only On Big Screens */

@media (min-width: 900px){
 nav a .menu-text {
  position: relative;
  text-decoration: none;
}


nav a .menu-text::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav a .menu-text:hover::before {
  transform: scaleX(1);
} 
}

.btn-outline-primary {
  color: black; /* Custom text color (orange) */
  border-color: black; /* Custom border color (orange) */
  margin-bottom: 1.5em;
  background-color: white;
}

.btn-outline-primary:hover {
  color: #fff; /* White text on hover */
  background-color: #ff5722 !important; /* Orange background on hover */
  border-color: #ff5722 !important; /* Keep border color consistent */
}

.btn-outline-primary:active {
  color: #fff; /* White text on hover */
  background-color: #ff5722 !important; /* Orange background on hover */
  border-color: #ff5722 !important; /* Keep border color consistent */
}

.btn-outline-apps {
  color: white; /* Custom text color (orange) */
  border-color: black; /* Custom border color (orange) */
  background-color: black;
}

.btn-outline-apps:hover {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}

.btn-outline-apps:active {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}

.highcharts-background{
    fill: white;
  }
  
   .highcharts-subtitle{
    fill: teal;
  }
  
  .highcharts-title{
    fill: red;
  }