@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gentium-plus-v2-latin-regular.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/gentium-plus-v2-latin-italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/gentium-plus-v2-latin-700.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/gentium-plus-v2-latin-700italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gentium-plus-v2-greek-regular.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-regular.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/gentium-plus-v2-greek-italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-italic.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/gentium-plus-v2-greek-700.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-700.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/gentium-plus-v2-greek-700italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-700italic.woff') format('woff');
}


body:not(#TOC) {
    font-family: "Gentium Plus", "Noto Serif", "Georgia", serif;
}

/* custom web apps cards */

.custom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

/* end */

#quarto-header{
  font-weight: bold;
}

.nav-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar{
  border: 0px;
}

.navbar-nav > .nav-item{
  text-transform: lowercase;
}


div.quarto-about-jolla{
  margin-top: 0px;
}


hr.about-sep{
  margin-top: -20px;
}


.quarto-about-jolla{
  max-width: 430px;
  margin: auto;
  margin-top: -38px;
}


.quarto-title-banner {
  padding-top: 2.5em;
  padding-bottom: 0em;
}


.about-links{
  justify-content: center;
}

div#quarto-content.quarto-container.page-columns.page-rows-contents.page-layout-article.page-navbar{
  height: fit-content;
}


.card-shiny{
  width: 100px;
}


/* cards' styles */

.card:hover{
  transform: translateY(10px);
}

.card-title{
  text-align: center;
}

.cards-wrapper{
	gap: 20px;
	height: min-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
   transition: 0.5s ease-out;
   min-height: 200px;
}


.sh-card-footer{
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  column-gap: 10px;
}



/* Style Material tables*/

.material-tables > table th:first-of-type {
    width: 40%;
}
.material-tables > table th:nth-of-type(2) {
    width: 15%;
}
.material-tables > table th:nth-of-type(3) {
    width: 15%;
}
.material-tables > table th:nth-of-type(4) {
    width: 10%;
}
.material-tables > table th:nth-of-type(5) {
    width: 20%;
}


/* Footer */

.nav-footer-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px){
.nav-footer-center {
	margin-top: 0em !important;
	order: 10;
	padding: 0em;
}
}

#language-link-el::before{
  content: '';
  background-image: url('../images/gr.webp');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;  
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 2em;
}

#language-link-en::before{
  content: '';
  background-image: url('../images/uk.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;  
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 2em;
}

@media screen and (min-width: 992px) {
  
  div.quarto-about-jolla .about-link i{
    font-size: 2em;
  }

}


/* Gallery */
@media (min-width: 768px) {
.g-col-md-4 p, .g-col-md-6 p{
  overflow: hidden;
}

.img-fluid{
  transition: 1s ease;
}

.img-fluid:hover{
  transform: scale(1.05);
}
}


/* Media small screen - footer */

@media (max-width: 600px) {
  .nav-footer{
    padding-top: 1em;
  }
}


h1{
  font-size: 2.1em;
}

h2{
  font-size: 1.7em;
}

h3{
  font-size: 1.25em;
}

h4{
  font-size: 1.1em;
}

h5{
  font-size: 1em;
}

p{
  font-size: 0.88em;
}

.math{
  font-size: 0.88em;
}

.listing-description{
  font-size: 0.95em;
}

hr{
  margin: 1em 30%;
}


footer{
  font-size: 0.975em;
}

.button_wrapper_gallery {
	padding: 0em 0em 1em 0em;
}

h3.card-title {
	padding: 0em 0em;
	margin: 0.2em 0em 0.6em 0em;
}

.card-image{
  margin-bottom: 1em;
}

#quarto-appendix{
  font-size: 0.88em;
}

ul, ol{
  font-size: 0.88em;
}

h3 .no-external{
  font-weight: bold;
}

.navbar-title{
  font-weight: 800;
}

h4.card-title{
  margin-top: 0em;
}

.Reactable{
  font-size: medium;
}

.card-details{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

h3.listing-title{
  margin-bottom: 0.4em !important;
}

 .card-horizontal {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      border-radius: 12px;
    }
    .card-horizontal img {
      width: 330px;
      object-fit: cover;
    }
    @media (max-width: 768px) {
      .card-horizontal {
        flex-direction: column;
      }
      .card-horizontal img {
        width: 100%;
      }
    }
    .tech-icons i {
      font-size: 1.3rem;
      margin-right: 8px;
      color: #555;
    }
    .badge {
      margin-right: 4px;
    }