@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-latin-regular.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-latin-italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-italic.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-latin-700.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-700.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-latin-700italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-latin-700italic.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-greek-regular.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-regular.woff') format('woff');
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-greek-italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-italic.woff') format('woff');
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-greek-700.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-700.woff') format('woff');
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: 'Gentium Plus';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/gentium-plus-v2-greek-700italic.woff2') format('woff2'),
       url('../fonts/gentium-plus-v2-greek-700italic.woff') format('woff');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Gentium-Fallback';
  src: local('Times New Roman'), 
       local('Liberation Serif'), 
       local('Noto Serif'), 
       local('serif');
  size-adjust: 106%; 
  ascent-override: 90%;
  descent-override: 20%;
}



body:not(#TOC) {
    font-family: "Gentium Plus",  'Gentium-Fallback', serif;
}


/* Style Material tables*/

.material-tables > table th:first-of-type {
    width: 40%;
}
.material-tables > table th:nth-of-type(2) {
    width: 15%;
}
.material-tables > table th:nth-of-type(3) {
    width: 15%;
}
.material-tables > table th:nth-of-type(4) {
    width: 10%;
}
.material-tables > table th:nth-of-type(5) {
    width: 20%;
}


/* Footer */

.nav-footer-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px){
.nav-footer-center {
	margin-top: 0em !important;
	order: 10;
	padding: 0em;
}
}

#language-link-el::before{
  content: '';
  background-image: url('../images/gr.webp');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;  
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 2em;
}

#language-link-en::before{
  content: '';
  background-image: url('../images/uk.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;  
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 2em;
}

@media screen and (min-width: 992px) {
  
  div.quarto-about-jolla .about-link i{
    font-size: 2em;
  }

}


/* Gallery */
@media (min-width: 768px) {
.g-col-md-4 p, .g-col-md-6 p{
  overflow: hidden;
}

.img-fluid{
  transition: 1s ease;
}

.img-fluid:hover{
  transform: scale(1.05);
}
}

    
/* Dark mode icon instead of regular toggle */

/* add extra space to the right of the icon */ 
.quarto-color-scheme-toggle {
  margin-right: 8px !important;
}

.quarto-color-scheme-toggle:not(.alternate) .bi::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%234a5568" class="bi bi-moon-stars-fill" viewBox="0 0 16 16"><path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/><path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/></svg>') !important;
}

body.quarto-dark .quarto-color-scheme-toggle > .bi::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23d1d5db" class="bi bi-sun-fill" viewBox="0 0 16 16"><path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707z"/></svg>') !important;
}

/*  Highcharts style */

.highcharts-title, .highcharts-subtitle{
  font-family: "Gentium Plus";
}

.highcharts-title{
  font-size: 1.2rem !important;
  font-weight: bold;
}

.highcharts-subtitle{
  font-size: 1.05rem !important;
}

.w-max-cont{
  max-width: max-content;
}

.highcharts-data-labels h4{
  font-size: 0.8em;
}

.h-250{
  height: 250px;
}

.mord.text{
  font-size: 0.9em;
}