/*-- scss:defaults --*/

$font-family-serif: "Lato";
$font-family-sans-serif: "Lato";
$font-family-monospace: "Lato";
$bs-body-font-family: "Lato";
$web-font-path: "No";
$bs-btn-outline-color: black;
$bs-btn--outline-border-color: black;
$link-color: rgb(102, 20, 16);
$body-bg: white;
$body-color: black;
$navbar-bg: white;
$bs-btn-padding-x: 0.9rem;
$bs-btn-padding-y: 0.4rem;
$bs-btn-font-size: 0.75rem;

/*-- scss:rules --*/


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/lato-v24-latin-100.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-100.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-100.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('assets/fonts/lato-v24-latin-100italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-100italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-100italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/lato-v24-latin-300.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-300.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-300.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/lato-v24-latin-300italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-300italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-300italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/lato-v24-latin-regular.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-regular.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/lato-v24-latin-italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/lato-v24-latin-700.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-700.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-700.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/lato-v24-latin-700italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-700italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-700italic.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/lato-v24-latin-900.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-900.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-900.ttf') format('truetype')
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('assets/fonts/lato-v24-latin-900italic.woff2') format('woff2'),
       url('assets/fonts/lato-v24-latin-900italic.woff') format('woff'),
       url('assets/fonts/lato-v24-latin-900italic.ttf') format('truetype')
}


#languages-button {
	color: black;
	background-color: transparent !important;
	border-color: transparent !important;
}

/* Set Animation Line Only On Big Screens */

@media (min-width: 900px){
 nav a .menu-text {
  position: relative;
  text-decoration: none;
}


nav a .menu-text::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav a .menu-text:hover::before {
  transform: scaleX(1);
} 
}

.btn-outline-primary {
  color: black; /* Custom text color (orange) */
  border-color: black; /* Custom border color (orange) */
  margin-bottom: 0em;
  background-color: white;
  padding: $bs-btn-padding-x, $bs-btn-padding-y;
}

.btn-outline-primary:hover {
  color: #fff; /* White text on hover */
  background-color: #ff5722 !important; /* Orange background on hover */
  border-color: #ff5722 !important; /* Keep border color consistent */
}

.btn-outline-primary:active {
  color: #fff; /* White text on hover */
  background-color: #ff5722 !important; /* Orange background on hover */
  border-color: #ff5722 !important; /* Keep border color consistent */
}

.btn-outline-apps {
  color: white; /* Custom text color (orange) */
  border-color: black; /* Custom border color (orange) */
  background-color: black;
}

.btn-outline-apps:hover {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}

.btn-outline-apps:active {
  color: #fff; /* White text on hover */
  background-color: teal !important; /* Orange background on hover */
  border-color: teal !important; /* Keep border color consistent */
}
