.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.foot div:nth-last-child(n-1){
  margin-left: 10px;
}

.text1 + .text1::before {
  content: "";
  width: 2px; /* Adjust separator width as needed */
  background-color: #ccc;
  margin-left: 10px; /* Adjust separator margin as needed */
}

.text1{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .emoji-button:hover{
    color: #ceb234;
  }
  
.card-image{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.foot{
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

.foot img{
  width: 20px;
  height: 15px;
}

.pages-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0em;
	font-size: 1.5em;
}

.anchorjs-link{
  display: none;
}
.card {
  flex: 0 0 calc(33% - 2rem); /* Each card takes up 50% of the width with some spacing between */
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .card {
    flex: 0 0 calc(100% - 1rem); /* Each card takes up 100% of the width on small screens */
  }
}

@media ((max-width: 1100px) and (min-width: 600px)) {
  .card {
    flex: 0 0 calc(50% - 1rem); /* Each card takes up 100% of the width on small screens */
  }
}
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

