.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}



.card-image{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.anchorjs-link{
  display: none;
}
.card {
  flex: 0 0 calc(33% - 2rem); /* Each card takes up 50% of the width with some spacing between */
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .card {
    flex: 0 0 calc(100% - 1rem); /* Each card takes up 100% of the width on small screens */
  }
}

@media ((max-width: 1100px) and (min-width: 600px)) {
  .card {
    flex: 0 0 calc(50% - 1rem); /* Each card takes up 100% of the width on small screens */
  }
}
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }