/* css styles */
 
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:not(#TOC) {
  font-family: 'Alegreya', Georgia, 'Times New Roman', 'EB Garamond', serif;
}

#quarto-header{
  font-weight: bold;
}


.nav-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar{
  border: 0px;
}

.navbar-nav > .nav-item{
  text-transform: lowercase;
}


div.quarto-about-jolla{
  margin-top: 0px;
}


hr.about-sep{
  margin-top: -20px;
}


.quarto-about-jolla{
  max-width: 400px;
  margin: auto;
  margin-top: -38px;
}



#quarto-document-content{
  margin-top: -8px;
  font-size: 16px;
}

.quarto-title-banner {
  padding-top: 2.5em;
  padding-bottom: 0em;
}

a{
  color: #1871DC;
}


.about-links{
  justify-content: center;
}

div#quarto-content.quarto-container.page-columns.page-rows-contents.page-layout-article.page-navbar{
  height: fit-content;
}


.card-shiny{
  width: 100px;
}


/* cards' styles */

.card:hover{
  transform: translateY(10px);
}

.card-title{
  text-align: center;
}

.cards-wrapper{
	gap: 20px;
	height: min-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
   transition: 0.5s ease-out;
   min-height: 200px;
   width: 350px;
   color: white;
}


.sh-card-footer{
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  column-gap: 10px;
}


#sa1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/ageing_hands.jpg");
  background-position: center;
}

#sa2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/question-mark.jpg");
  background-position: top;
}

#sa3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/interface.png");
  background-position: center;
}

#sa4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/houses-of-parliament.jpg");
  background-position: center;
}

#sa5{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/euro.jpg");
  background-position: center;
}

#sa6{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/email.png");
  background-position: center;
}

#sa7{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/wind_glass.jpg");
  background-position: center;
}

#sa8{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("www/tyres.jpg");
  background-position: center;
}

.card  .btn{
  background-color: rgba(200,200,200,0.8);
}


/* Style Material tables*/

.material-tables > table th:first-of-type {
    width: 40%;
}
.material-tables > table th:nth-of-type(2) {
    width: 15%;
}
.material-tables > table th:nth-of-type(3) {
    width: 15%;
}
.material-tables > table th:nth-of-type(4) {
    width: 10%;
}
.material-tables > table th:nth-of-type(5) {
    width: 20%;
}
