name: Render Website
permissions: write-all
on:
  push:
    branches: main
jobs:
  render:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Install R
        uses: r-lib/actions/setup-r@v2
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: Set up R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2 
        with: 
          packages: |
            github::ropensci-review-tools/babelquarto@a485fea
      - name: Render Website with babelquarto
        run: Rscript -e 'babelquarto::render_website()'
      - name: Achive website render
        uses: actions/upload-artifact@v4
        with:
          name: book_render
          path: docs/
      - name: Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          render: false
